<!DOCTYPE html>
<html>
<head>

   <%= csrf_meta_tags %>
   <%= csp_meta_tag %>

   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>

      <header>
        <nav class="auth-nav">
          <ul>
            <% unless @logged_in %>
              <li>
                <%= link_to "Sign up", new_user_path %>
              </li>
              <li>|</li>
              <li>
                <%= link_to "Log in", new_login_path %>
              </li>
            <% else  %>

                Logged in as <%= @logged_in_user.username %>
              
              <li>
                <%= form_tag "/login/#{ @logged_in_user.id }", method: :delete do %>
                  <%= submit_tag "Log out" %>
                <% end %>
              </li>
            <% end %>
          </li>
        </ul>
      </nav>

      <div class="clear"></div>

    <% if @errors && @errors.any? %>
      <ul class="errors">
        <% @errors.each do |error| %>
        <li>
            <%= error %>
        </li>
        <% end %>
      </ul>
    <% end %>
  </header>

<!-- <div class="crossfade">
  <figure></figure>
  <figure></figure>
  <figure></figure>
  <figure></figure>
</div> -->


</body>
    <%= yield %>

</html>
