





	 <%= form_for @user do |f| %>
    <li>  <%= f.label :first_name %></li>
      <%= f.text_field :first_name %>

    <li>   <%= f.label :last_name %> </li>
      <%= f.text_field :last_name %>

    <li>   <%= f.label :username %> </li>
      <%= f.text_field :username %>

    <li>   <%= f.label :email %> </li>
      <%= f.email_field :email %>

    <li>   <%= f.label :password %> </li>
      <%= f.password_field :password %>

      <%= f.submit "Create my account" %>
    <% end %>

    <% if flash[:errors]%>
    <% flash[:errors].each do |error|%>
    <h1><%= error %></h1>
    <%end%>
    <%end%>
