<h2>
	Hello <%=@user.username%>
</h2>

<aside id="userSidebar">
	    <ul id="userSidebarInfo">
		<%= @user.profile_pic %>
		<li>Name: <%= @user.first_name %> <%= @user.last_name %></li>
		<li>Email: <%= @user.email %></li>
	</ul>

		<%= link_to 'Update Info', "/users/#{@user.id}/edit" %>

</aside>

<content id="userContent">
</content>
